---
layout: template.njk
title: Article
---

    <div class="primary">
        <p class="link article__link"><a class="link__href link__href--dark" href="/"><i class="arrow arrow--left"></i>zpět</a></p>
        <article class="article article--primary">

            <h3 class="article__category article__category--primary">{{ category }}</h3>
            <h1 class="article__title article__title--primary">{{ title }}</h1>
            <h4 class="article__date article__date--primary">{{ page.date }}</h4>
            
            <p class="article__perex">
               {{ perex }}
            </p>        

            <img class="article__picture article__picture--primary" src="/images/nesudmeadrzmepalce.jpg">

        {{ content | safe }}

        </article>    

        <div class="comments">

            <form method="post" class="comments__form">
                <h3 class="comments__title">komentáře</h3>
                <textarea class="comments__text comments__field" name="text" id="text" placeholder="napiš komentář..." required></textarea>  
                <input class="comments__name comments__field" type="text" name="name" id="name" placeholder="jméno *" required>
                <input class="comments__email comments__field" type="email" name="email" id="email" placeholder="e-mail * (nebude se zobrazovat)" required>
                <input class="comments__button" type="button" name="send" id="send" value="Odeslat">
            </form>
            
            <div id="comments"></div>
            
            </div>
        
            <script>
                let articleId = 1
            
                let commentsDiv = document.getElementById('comments')
                let sendCommentBtn = document.getElementById('send')
                
                async function loadComments() {
                    let url = 'https://krystoftomes.cz/api/getComments.php?articleId=' + articleId
                    try {
                        let res = await fetch(url)
                        let data = await res.json()
            
                        let html = '<div class="comments__list">'
            
            data.forEach(row => {
                html += `<div class="comment">
                            <h4 class="comment__name">${row.username}</h4>
                            <p class="comment__date">${row.date}</p>
                            <p class="comment__message">${row.comment}</p>
                        </div>`       
            })
        
            html += '</div>'
        
                        commentsDiv.innerHTML = html
                    } catch (error) {
                        console.log(error)
                    }
                }
            
                async function addComment() {
                    let username = document.getElementById('name').value
                    let email = document.getElementById('email').value
                    let comment = document.getElementById('text').value
            
                    let url = 'https://krystoftomes.cz/api/addComment.php?articleId=' + articleId
            
                    fetch(url, {
                        method: 'POST',
                        body: JSON.stringify([articleId, username, email, comment]),
                        headers: {
                            'Content-type': 'application/json; charset=UTF-8',
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status == 'Success') {
                            loadComments()
                            comments.scrollIntoView()
                        } 
                    })
                    .catch(error => console.log(error))
                }
                
                window.addEventListener('load', loadComments)
                sendCommentBtn.addEventListener('click', addComment)
            </script>

    </div>

    <div class="complementary">
        <div class="articles__suggestion">
            <h2 class="title title--complementary">další příspěvky</h2>
            <div class="articles--vertical">
                <article class="article article--secondary">
                    <a href="/nikdonicnevi/"><img class="article__picture article__picture--secondary" src="/images/nikdonicnevi.jpg"></a>
                    <div class="article__text article__text--secondary">
                        <h3 class="article__category article__category--secondary">Postřeh</h3>
                        <h1 class="article__title article__title--secondary"><a href="/nikdonicnevi/" class="link__href">Nikdo nic neví</a></h1>
                    </div>
                </article>
    
                <article class="article article--secondary">
                    <a href="/nefnukameuzprilis/"><img class="article__picture article__picture--secondary" src="/images/nefnukameuzprilis.jpg"></a>
                    <div class="article__text article__text--secondary">
                        <h3 class="article__category article__category--secondary">Zamyšlení</h3>
                        <h1 class="article__title article__title--secondary"><a href="/nefnukameuzprilis/" class="link__href">Nefňukáme už příliš?</a></h1>
                    </div>
                 </article>
    
    
                 <article class="article article--secondary">
                    <a href="/vylucovani/"><img class="article__picture article__picture--secondary" src="/images/vylucovani.jpg"></a>
                    <div class="article__text article__text--secondary">
                        <h3 class="article__category article__category--secondary">Postřeh</h3>
                        <h1 class="article__title article__title--secondary"><a href="/vylucovani/" class="link__href">Vylučování. Vylučte mě, prosím</a></h1>
                    </div>
                </article>
    
    
                <article class="article article--secondary">
                    <a href="/tentokratoficialne/"><img class="article__picture article__picture--secondary" src="/images/tentokratoficialne.jpg"></a>
                    <div class="article__text article__text--secondary">
                        <h3 class="article__category article__category--secondary">jak to bylo</h3>
                        <h1 class="article__title article__title--secondary"><a href="/tentokratoficialne/" class="link__href">Tentokrát oficiálně</a></h1>
                    </div>
                </article>
        </div>

        <!-- <div class="poster">
            <img class="poster__picture" src="/images/share.png">
            <p class="text poster__text">chcete se podělit o svůj příběh<br>nebo mi napsat dojmy<br>z  příspěvku?</p>
            <button class="button poster__button">Napište mi</button>
        </div> -->
    </div>
</div>